<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDT -- Login</title>
    <meta name="description" content="None" />
    <meta name="author" content="" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  


    <link rel="stylesheet" href="assets/css/exform.css">
    <link rel="stylesheet" href="assets/css/cadastro.css">

    <meta name="theme-color" content="#2F3BA2" />

</head>

<body>

    <div class="container">
        <header>
            <div class="img-wrapper">
                <img src="assets/imgs/fdo.jpg" alt="">
            </div>
            <div class="banner">
                <h1>Sistema GDT</h1>
                <p class="description description-primary">A poucos cliques de gerenciar e organizar suas tarefas diarias.</p>
                <p class="description description-primary">Sistema desenvolvido para fins de estudo</p>
                <h3 data-type="header" class="signup-heading mb-4">Cadastrar-se no GDT</h3>
            </div>
        </header>
    </div>

    <section class="sessao-cadastro">
        <div class="cadastro-wrapper">
            <h1>Cadastro</h1>
            <form id="io9k7" class="form">
                <label id="ihojs">Username</label>
                <input type="text" id="username" placeholder="Digite seu username" class="form-control" required />
                <label id="ihojs">Nome</label>
                <input type="text" id="nome" placeholder="Digite seu nome" class="form-control" required />
                <label id="ihojs">Email</label>
                <input type="email" id="email" placeholder="Digite seu email" class="form-control" required />
                <label>Password</label>
                <input type="password" id="pass" placeholder="your password" class="form-control" required />
                <label>Repit password</label>
                <input type="password" name="rep_password" placeholder="Repeat password">


                <button class="btn btn-lg btn-block btn-primary mb-3" id="cadastro_btn">Cadastrar</button>
                <p class="par"><small class="text-muted text-center"> Já possui conta? <a draggable="true" data-highlightable="1"
              href="login" id="iaw8c" class="link">Login</a> </small></p>
            </form>
        </div>
    </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

<script type="module" src="assets/js/cadastro.js"></script>

</html>