<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppNodeJs</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/StyleCss.css">
    <link rel="stylesheet" href="../assets/css/styleframe.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/imgs/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body>

    <div class="container">

        <header>
            <div class="img-wrapper">
                <img src="assets/imgs/fdo.jpg" alt="">
                </div>
                <div class="banner">
                <h1>Web developer in AppNodeJs</h1>
                <p> Desenvolvido por: João Pedro, Marcos Alan, Diego </p>

                <button><a class="link" href="login">clique para fazer login</a></button>
               
                <button><a class="link" href="cadastro">clique para se cadastrar</a></button>


            </div>
            
        </header>


    </div>


</body>

</html>